#navbar ul{
	list-style-type: none;
	margin:  0;
	padding: 0;
	overflow: hidden;
	background-color: #000066;
	text-align: center;
}

#navbar li {
	float:  left;
}

#navbar a {
	display: inline-block;
	padding:  10px;
	background-color: #ccccff;
}

#navbar li a {
	display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#navbar li a:hover {
    background-color: #00ffff;
}